:root{
  --orange: #BA5D2C;
  --blue-light: #324D67;
  --gray-darken: #babdc1;
  --gray-light: #F1F5F8;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--blue-light);
  background: var(--gray-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  width: 80%;
  margin: 3rem auto;
  position: relative;
}

.orange{
  color: var(--orange);
}

img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 5px 5px 10px var(--gray-darken);
}

.name{
  text-transform: uppercase;
}

.name h4{
  margin-block-end: 0.3rem;
}

[class*="btn-"]{
  background-color: #617D98;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.4rem;
  transform: translateY(-50%);
}

.btn-previous{
  position: absolute;
  top: 11rem;
  left: -0.5rem;
}
.btn-next{
  position: absolute;
  top: 11rem;
  right: -0.5rem;
}

.review-section{
  width: 100%;
  height: 100%;
  top: 5rem;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all 0.3s linear;
}

.show{
  opacity: 1;
  transform: translateX(0);
}
/* 
.prevSlide{
  transform: translateX(-100%);
}
.nextSlide{
  transform: translateX(100%);
} */